@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", serif;
}

nav,
main {
    margin: 0 150px;
}

button {
    cursor: pointer;
}

section {
    margin: 65px 0;
}

.text-gray {
    opacity: 0.7;
}

/* Nav style */
nav {
    padding: 50px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;

}

nav ul li {
    list-style-type: none;
}

nav ul .logo {
    font-size: 28px;
    font-weight: 800;
}

nav ul button {
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 0, 8;
    border: 1px solid #0D1321;
    font-size: 20px;
    font-weight: 600;
}

/* banner style */
.banner {
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

.banner div {
    text-align: center;
}

.banner h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    padding: 20px 221px;

}

.banner button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}

.banner button a {
    text-decoration: none;
    color: white;
}

/* why web dev section */
.why-web-dev {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.why-me-container {
    padding: 80px 97px;
}

.why-me-info {
    text-align: center;
}

.why-me-container h1 {
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 24px;
}

.why-me-info>p {
    opacity: 0.7;
    width: 80%;
    margin: 0 auto;
}

.code {
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    border-radius: 24px;
    padding: 48px;
    margin: 30px;
    display: flex;
    gap: auto;
    justify-content: center;
    align-items: center;
}

.second-code {
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    flex-direction: row-reverse;
}

.code p {
    opacity: 0.7;
    padding: 16px 0 32px 0;
}

.code button {
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    border-radius: 4px;
    font-weight: 600;
}

.code img {
    width: 100%;
}

/* inspiration section style */
.inspiration div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.inspiration p {
    opacity: 0.7;
    padding: 50px 0;
}

.inspiration-video {
    border: 1px solid gray;
    padding: 32px;
    border-radius: 16px;
}

.inspiration-video iframe {
    border-radius: 16px;
    width: 100%;
    height: 550px;
}

/* current info style */
.current-target-info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.current-target-info h1 {
    font-size: 32px;
    font-weight: 800;
}

.current-target-info p {
    padding: 24px 0 48px 0;
}

.learnig-cart-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.learning-cart h1 {
    font-size: 24px;
    font-weight: 800;
}

.cart-1 {
    background-color: aqua;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.cart-2 {
    background-color: aqua;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.cart-3 {
    background-color: aqua;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.cart-1 a,
.cart-2 a,
.cart-3 a {
    color: rgb(80, 80, 80);
}

/* next target section style */
.next-target-info,
.next-target-info>p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.next-target-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

.next-target-cart {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    gap: 24px;
}

.next-target-cart-2 {
    flex-direction: row-reverse;
}

.next-target-cart-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.next-target-cart-info>a,
p {
    opacity: 0.7;
    color: black;
}

/* send-me-email */

.send-me-email {
    background-image: url(assets/handshake.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px;
    text-align: center;
    border-radius: 16px;
    background-position: center;
}

.send-me-email p {
    color: white;
}

.send-me-email-info {
    padding: 0 157px;
}

.send-me-email-info h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.ask-me input[type="text"] {
    padding: 19px 20px;
    width: 548px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ask-me button {
    padding: 19px 20px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    font-size: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    background-color: white;
    border: none;
}





/* footer style */
footer>div {
    background: rgba(13, 19, 33, 0.03);
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}